.offer-button {
  background-color: #18c6cc;
  color: #fff;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.offer-button:hover {
  background-color: #000;
  color: white;
}

.img-offers{
  width: 100%;
  height: 255px;
  border-radius: 15px;
}
.offer-best{
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%);
}
.offer-best p{
  font-size: 16px;
  font-weight: 600;
}