@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #CCEAF7;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



.loader-container.fade-out {
  top: -110%;
  opacity: 0;
}
